@import 'custom';

// Main changes just here //

html {
    
    position: relative;
    min-height: 100%;
   
}

body {
    padding-bottom: 300px;
    background-color: #EFE8DD;

}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure header stays above other content */
}

p {
    margin-left: 12px;
    margin-right: 12px;
}

@media (min-width: 768px) {
    p {
        margin-left: 80px;
        margin-right: 80px;
    }
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 20px 0;
    background-color: $primary;
    text-align: center;
    overflow: visible;
}

footer.footer-img {
    display: block;
    margin-top: 10px;
}

footer.footer-text {
    color: white !important;
    text-align: center;
    margin: 5px 0;
}

footer p {
    color: white !important;
}
