@import 'custom';

// Main changes just here //

html {
    position: relative;
    min-height: 100%;
   
}

body {
    margin-bottom: 60px;

}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure header stays above other content */
}

p {
    margin-left: 12px;
    margin-right: 12px;
}

@media (min-width: 768px) {
    p {
        margin-left: 80px;
        margin-right: 80px;
    }
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: $primary;
    text-align: center;
}